# After updating the file run
#
# sudo udevadm control --reload
# sudo udevadm trigger


#bluepill project rules

SUBSYSTEM=="usb", ATTRS{idVendor}=="cafe", MODE="0666"

SUBSYSTEM=="usb", ATTRS{idVendor}=="0297", MODE="0666"

SUBSYSTEM=="usb", ATTRS{idVendor}=="0298", MODE="0666"


# /etc/udev/rules.d/11-ftdi.rules

# FT232AM/FT232BM/FT232R
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6001", MODE="0666"

# FT2232C/FT2232D/FT2232H
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6010",  MODE="0666"

# FT4232/FT4232H
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6011", MODE="0666"

# FT232H
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6014",  MODE="0666"

# FT230X/FT231X/FT234X
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6015",  MODE="0666"
